@using static Kyiv.Конвертер
@inject МашинаКиїв Машина

@for (var i = 0; i < КількістьРядків; i++)
{
    var базоваАдреса = Із8РічноїАдреси(БазоваАдреса);
    <div class="row">
        <div class="col-12 col-md">@До8РічноїАдреси(базоваАдреса + i * 8)</div>
        <div class="col"><ПереглядРедакторЯчейкиПамяти Адреса="@(базоваАдреса + i * 8 + 0)" /></div>
        <div class="col"><ПереглядРедакторЯчейкиПамяти Адреса="@(базоваАдреса + i * 8 + 1)" /></div>
        <div class="col"><ПереглядРедакторЯчейкиПамяти Адреса="@(базоваАдреса + i * 8 + 2)" /></div>
        <div class="col"><ПереглядРедакторЯчейкиПамяти Адреса="@(базоваАдреса + i * 8 + 3)" /></div>
    </div>
    <div class="row">
            <div class="col-12 col-md">@До8РічноїАдреси(базоваАдреса + i * 8 + 4)</div>
        <div class="col"><ПереглядРедакторЯчейкиПамяти Адреса="@(базоваАдреса + i * 8 + 4)" /></div>
        <div class="col"><ПереглядРедакторЯчейкиПамяти Адреса="@(базоваАдреса + i * 8 + 5)" /></div>
        <div class="col"><ПереглядРедакторЯчейкиПамяти Адреса="@(базоваАдреса + i * 8 + 6)" /></div>
        <div class="col">
            @if (базоваАдреса + i * 8 + 7 != 2047)
            {
                <ПереглядРедакторЯчейкиПамяти Адреса="@(базоваАдреса + i * 8 + 7)" />
            }
            else
            {
                <text>Генератор випадкових чисел</text>
            }
        </div>
    </div>
}
@code {
    [Parameter]
    public int БазоваАдреса { get; set; }

    [Parameter]
    public int КількістьРядків { get; set; }
}