@page "/command-builder"
@using System.Globalization
<h3>@Ресурси.СторінкаКоманди</h3>
@if (CultureInfo.CurrentUICulture.Name == "uk-UA")
{
    <p>
        Команди рахувальної машини "Київ" мають 4 блока
    </p>

    <p>
        Код команди - 5 біт.
    </p>

    <p>
        Адреса I - 11 біт, та 1 біт модифікації
    </p>

    <p>
        Адреса II - 11 біт, та 1 біт модифікації
    </p>

    <p>
        Адреса III - 11 біт, та 1 біт модифікації. Зазвичай місце куди зберігають результат.
    </p>
}
else
{
    <p>
        The commands of the Kiev calculating machine have 4 blocks.
    </p>

    <p>
        Command code - 5 bits.
    </p>

    <p>
        Address I - 11 bits, and 1 bit of modification
    </p>

    <p>
        Address II - 11 bits, and 1 bit of modification
    </p>

    <p>
        Address III - 11 bits, and 1 bit of modification. Usually the place where the result is stored.
    </p>
}

<div class="row g-2 align-items-center">
    <div class="col-12 col-md-3">
        <InputSelect class="form-select" @bind-Value="Код">
            <option checked="@(Код == "00")"
                    value="00">
                00 - @Ресурси.Команда00
            </option>
            <option checked="@(Код == "01")"
                    value="01">
                01 - @Ресурси.Команда01
            </option>
            <option checked="@(Код == "02")"
                    value="02">
                02 - @Ресурси.Команда02
            </option>
            <option checked="@(Код == "03")"
                    value="03">
                03 - @Ресурси.Команда03
            </option>
            <option checked="@(Код == "04")"
                    value="04">
                04 - @Ресурси.Команда04
            </option>
            <option checked="@(Код == "05")"
                    value="05">
                05 - @Ресурси.Команда05
            </option>
            <option checked="@(Код == "06")"
                    value="06">
                06 - @Ресурси.Команда06
            </option>
            <option checked="@(Код == "07")"
                    value="07">
                07 - @Ресурси.Команда07
            </option>
            <option checked="@(Код == "10")"
                    value="10">
                10 - @Ресурси.Команда10
            </option>
            <option checked="@(Код == "11")"
                    value="11">
                11 - @Ресурси.Команда11
            </option>
            <option checked="@(Код == "12")"
                    value="12">
                12 - @Ресурси.Команда12
            </option>
            <option checked="@(Код == "13")"
                    value="13">
                13 - @Ресурси.Команда13
            </option>
            <option checked="@(Код == "14")"
                    value="14">
                14 - @Ресурси.Команда14
            </option>
            <option checked="@(Код == "15")"
                    value="15">
                15 - @Ресурси.Команда15
            </option>
            <option checked="@(Код == "16")"
                    value="16">
                16 - @Ресурси.Команда16
            </option>
            <option checked="@(Код == "17")"
                    value="17">
                17 - @Ресурси.Команда17
            </option>
            <option checked="@(Код == "20")"
                    value="20">
                20 - @Ресурси.Команда20
            </option>
            <option checked="@(Код == "21")"
                    value="21">
                21 - @Ресурси.Команда21
            </option>
            <option checked="@(Код == "22")"
                    value="22">
                22 - @Ресурси.Команда22
            </option>
            <option checked="@(Код == "23")"
                    value="23">
                23 - @Ресурси.Команда23
            </option>
            <option checked="@(Код == "24")"
                    value="24">
                24 - @Ресурси.Команда24
            </option>
            <option checked="@(Код == "25")"
                    value="25">
                25 - @Ресурси.Команда25
            </option>
            <option checked="@(Код == "26")"
                    value="26">
                26 - @Ресурси.Команда26
            </option>
            <option checked="@(Код == "27")"
                    value="27">
                27 - @Ресурси.Команда27
            </option>
            <option checked="@(Код == "30")"
                    value="30">
                30 - @Ресурси.Команда30
            </option>
            <option checked="@(Код == "31")"
                    value="31">
                31 - @Ресурси.Команда31
            </option>
            <option checked="@(Код == "32")"
                    value="32">
                32 - @Ресурси.Команда32
            </option>
            <option checked="@(Код == "33")"
                    value="33">
                33 - @Ресурси.Команда33
            </option>
            <option checked="@(Код == "34")"
                    value="34">
                34 - @Ресурси.Команда34
            </option>
            <option checked="@(Код == "35")"
                    value="35">
                35 - @Ресурси.Команда35
            </option>
        </InputSelect>
    </div>
    <div class="col col-md-auto">
        A I
    </div>
    <div class="col col-md-auto">
        <InputCheckbox class="form-check-input" @bind-Value="НепрямаАдресаціяАдреса1" title="@Ресурси.ВключаєНеявнуАдресацію" />
    </div>
    <div class="col col-md-auto">
        <ВвідРегістра @bind-Value="@Адреса1" class="form-control адрес-ячейки" />
    </div>
    <div class="col col-md-auto">
        A II
    </div>
    <div class="col col-md-auto">
        <InputCheckbox class="form-check-input" @bind-Value="НепрямаАдресаціяАдреса2" title="@Ресурси.ВключаєНеявнуАдресацію" />
    </div>
    <div class="col col-md-auto">
        <ВвідРегістра @bind-Value="@Адреса2" class="form-control адрес-ячейки" />
    </div>
    <div class="col col-md-auto">
        A III
    </div>
    <div class="col col-md-auto">
        <InputCheckbox class="form-check-input" @bind-Value="НепрямаАдресаціяАдреса3" title="@Ресурси.ВключаєНеявнуАдресацію" />
    </div>
    <div class="col col-md-auto">
        <ВвідРегістра @bind-Value="@Адреса3" class="form-control адрес-ячейки" />
    </div>
</div>
<label>@Ресурси.Команда</label>
@Команда

@code {
    public string Код { get; set; } = "00";
    public bool НепрямаАдресаціяАдреса1 { get; set; }
    public ushort Адреса1 { get; set; }
    public bool НепрямаАдресаціяАдреса2 { get; set; }
    public ushort Адреса2 { get; set; }
    public bool НепрямаАдресаціяАдреса3 { get; set; }
    public ushort Адреса3 { get; set; }
    public string Команда => ПарсерКоманд.Сконвертувати(
        ((ulong)Конвертер.Із8РічноїАдреси(int.Parse(Код)) << 36)
        + ((ulong)((НепрямаАдресаціяАдреса1 ? 2048 : 0) + Адреса1) << 24)
        + ((ulong)((НепрямаАдресаціяАдреса2 ? 2048 : 0) + Адреса2) << 12)
        + ((ulong)((НепрямаАдресаціяАдреса3 ? 2048 : 0) + Адреса3) << 0)
    );
}
