@page "/decompiler"
@using System.Globalization
@using Система.ВВ
@using System.Linq
@inject HttpClient httpClient
@inject МашинаКиїв Машина

<НазваСторінки>@Ресурси.СторінкаДекомпілятор</НазваСторінки>

<h1>@Ресурси.СторінкаДекомпілятор</h1>

<div class="row">
    <div class="col">
        <h3>@Ресурси.МіткаКод</h3>
        <p>@Ресурси.ПідказкаКод</p>
        <InputTextArea @bind-Value="Команда" rows="20" cols="26" style="font-family: monospace;" />
        <h4>@Ресурси.МіткаПідказка</h4>
        <pre><code>3100 01 0000 0000 0003
   1 26 0012 0000 0000
   2 11 0002 3050 0002
   3 10 3047 0002 0004
   4 12 0003 3045 0003
   5 01 0004 0003 0003
   6 12 0004 3047 0004
   7 02 0002 0004 0002
</code></pre>
    </div>
    <div class="col order-md-5">
        <h3>@Ресурси.МіткаПідпрограми</h3>
        <label>
            @Ресурси.ПідказкаПідпрограми
        </label>
        <InputSelect @bind-Value="Варіант" class="form-control">
            <option value="">
                @Ресурси.ВаріантРучніАдреси
            </option>
            <option checked="@(Варіант == "2to10")"
                    value="2to10">
                @Ресурси.Варіант2до10
            </option>
            <option checked="@(Варіант == "lnx")"
                    value="lnx">
                ln(x)
            </option>
            <option checked="@(Варіант == "cosX_v1")"
                    value="cosX_v1">
                1/2 * cosX (-1 &lt;x &lt; 1)
            </option>
            <option checked="@(Варіант == "sinX_v1")"
                    value="sinX_v1">
                1/2 * sinX (-1 &lt;x &lt; 1)
            </option>
            <option checked="@(Варіант == "sqrt")"
                    value="sqrt">
                sqrt(x)
            </option>
            @* <option checked="@(Варіант == "ex")"
                    value="ex">
                e(x)
            </option> *@
            <option checked="@(Варіант == "ex_2")"
                    value="ex_2">
                1/4 * e(x)
            </option>
            <option checked="@(Варіант == "cosX_v2")"
                    value="cosX_v2">
                1/2 * cosX (—2π &lt;x &lt; 2π)
            </option>
            <option checked="@(Варіант == "sinX_v2")"
                    value="sinX_v2">
                1/2 * sinX (-2π &lt;x &lt; 2π)
            </option>
            <option checked="@(Варіант == "arccosX_v1")"
                    value="arccosX_v1">
                1/π * arccos(X) (-1 &lt;x &lt; 1)
            </option>
            <option checked="@(Варіант == "arcsinX_v1")"
                    value="arcsinX_v1">
                1/π * arcsin(X) (-1 &lt;x &lt; 1)
            </option>

        </InputSelect>
        <label>
            @Ресурси.МіткаВідоміПідпрограмиІзКниги
        </label>
        @{
            string[] підпрограми = 
            [
                "алгоритм метода сопряженных градиентов",
                "КомутаторКоманд",
                "Подпрограмма ввода чисел",
                "Подпрограмма операций типа сложения",
                "Подпрограмма операций типа умножения",
                "Подпрограмма печати",
                "Специальные константы",
                "ТестАрифметическогоУстройства",
                "ТестМагнитногоБарабана",
                "ТестОЗУ",
                "ТестУстройстваУправления",
                "усовершенствованній метод Гаусса - обратный ход",
                "усовершенствованній метод Гаусса",
            ];
            string[] підпрограмиАнглійська = 
            [
                "conjugate gradient method algorithm",
                "Command Switch",
                "Number input subroutine",
                "Subroutine of addition type operations",
                "Subroutine of multiplication type operations",
                "Subroutine of printing",
                "Special constants",
                "Arithmetic device test",
                "Magnetic drum test",
                "RAM test",
                "Control device test",
                "Improved Gaussian method - backward pass",
                "Improved Gaussian method",
            ];
        }
        <InputSelect @bind-Value="ВаріантПідпрограм" class="form-control">
            <option value="">
                @Ресурси.ВаріантВиберітьПідпрограмму
            </option>
            @for (var i = 0; i < підпрограми.Length; i++)
            {
                var значення = підпрограми[i];
                var текст = (CultureInfo.CurrentUICulture.Name == "uk-UA") ? значення : підпрограмиАнглійська[i];
                <option checked="@(ВаріантПідпрограм == значення)"
                        value="@значення">
                    @текст
                </option>
            }
        </InputSelect>
        <label>
            @Ресурси.МіткаПочатковаАдреса <small>(@Ресурси.ПідказкаПочатковаАдреса)</small>
            <InputNumber @bind-Value="ПочатковаАдреса" size="4" class="form-control" />
        </label>
        <label>
            @Ресурси.МіткаКількістьСлів
            <InputNumber @bind-Value="КількістьСлів" size="4" class="form-control" />
        </label>

        <button type="button" title="@Ресурси.ПідказкаЗавантажити" class="btn btn-primary" @onclick=Завантажити>
            @Ресурси.КнопкаЗавантажити
        </button>
        <p>@Ресурси.ПідказкаВиберітьПідпрограму</p>
    </div>
    <div class="col order-md-1">
        <h3>@Ресурси.МіткаЛістінгС</h3>
<div style="white-space: pre">
            @((MarkupString)ДекомпільованаКоманда)
</div>
    </div>
</div>

@code {
    public string команда = "";
    public string Команда 
    {
        get => команда;
        set
        {
            команда = value;
            Лістінг = ПарсерЛістінга.ПрочитатиІзРядка(value);
        }
    }
    public Лістінг Лістінг { get; set; } = new();
    private string варіант = "";
    public string Варіант
    {
        get => варіант;
        set
        {
            варіант = value;
            if (value == "2to10")
            {
                ПочатковаАдреса = 3100;
                КількістьСлів = 10;
            }
            if (value == "lnx")
            {
                ПочатковаАдреса = 3112;
                КількістьСлів = 29;
            }
            if (value == "cosX_v1")
            {
                ПочатковаАдреса = 3147;
                КількістьСлів = 12;
            }
            if (value == "sinX_v1")
            {
                ПочатковаАдреса = 3152;
                КількістьСлів = 9;
            }
            if (value == "sqrt")
            {
                ПочатковаАдреса = 3163;
                КількістьСлів = 7; /* 6 у книзі */
            }
            // if (value == "ex")
            // {
            //     ПочатковаАдреса = 3202;
            //     КількістьСлів = 13;
            // }
            if (value == "ex_2")
            {
                ПочатковаАдреса = 3202;
                КількістьСлів = 13;
                //ПочатковаАдреса = 3172;
                //КількістьСлів = 21 /* 19 у книзі */;
            }
            if (value == "cosX_v2")
            {
                ПочатковаАдреса = 3217;
                КількістьСлів = 16 /* 19 у книзі */;
            }
            if (value == "sinX_v2")
            {
                ПочатковаАдреса = 3264;
                КількістьСлів = 12 /* 20 у книзі */;
            }
            if (value == "arccosX_v1")
            {
                ПочатковаАдреса = 3244;
                КількістьСлів = 15 /* 16 у книзі */;
            }
            if (value == "arcsinX_v1")
            {
                ПочатковаАдреса = 3242;
                КількістьСлів = 17;
            }

            if (value != "")
            {
                Завантажити();
            }
        }
    }
    private string варіантПідпрограм = "";
    public string ВаріантПідпрограм
    {
        get => варіантПідпрограм;
        set
        {
            варіантПідпрограм = value;
            if (value != "")
            {
                _ = ЗавантажитиПідпрограму(варіантПідпрограм);
            }
        }
    }
    public int ПочатковаАдреса { get; set; } = 3100;
    public int КількістьСлів { get; set; } = 10;

    public string ДекомпільованаКоманда
    {
        get => global::Kyiv.Декомпілятор.Декомпілювати(Лістінг);
    }

    public void Завантажити()
    {
        List<string> лінії = new();
        var початковаАдреса = Конвертер.Із8РічноїАдреси(ПочатковаАдреса);
        Лістінг = ЗавантажитиЛістінг(початковаАдреса, КількістьСлів);
        команда = ПобудуватиКоманду(Лістінг);
    }

    public async Task ЗавантажитиПідпрограму(string назва)
    {
        var файл = $"Підпрограми/{назва}.txt";
        var лініїФайлу = (await httpClient.GetStringAsync(файл)).ReplaceLineEndings().Split(Environment.NewLine);
        Лістінг = ПарсерЛістінга.ПрочитатиІзЛіній(лініїФайлу);
        ПочатковаАдреса = Конвертер.До8РічноїАдреси(Лістінг.ПочатковаАдреса);
        команда = ПобудуватиКоманду(Лістінг);
        StateHasChanged();
    }

    private Лістінг ЗавантажитиЛістінг(int початковаАдреса, int кількістьСлів)
    {
        Лістінг лістінг = new();

        ОдиницяКоду одиницяКоду = new(початковаАдреса);
        лістінг.ОдиниціКоду.Add(одиницяКоду);
        for (var i = 0; i < КількістьСлів; i++)
        {
            var адреса = початковаАдреса + i;
            var команда = Машина.ПрочитатиПамять(адреса);
            одиницяКоду.Команди.Add(команда);
        }

        return лістінг;
    }

    private static string ПобудуватиКоманду(Лістінг лістінг)
    {
        List<string> лінії = new();
        foreach (var одиницяКоду in лістінг.ОдиниціКоду)
        {
            var початковаАдреса = одиницяКоду.ПочатковаАдреса;
            for (var i = 0; i < одиницяКоду.Команди.Count; i++)
            {
                var адреса = початковаАдреса + i;
                var команда = одиницяКоду.Команди[i];
                var текстКоманди = ПарсерКоманд.Сконвертувати(команда);
                if (i == 0 || (адреса & 7) == 0)
                {
                    лінії.Add($"{Конвертер.До8РічноїАдреси(адреса),4} {текстКоманди}");
                }
                else
                {
                    лінії.Add($"   {(адреса & 7)} {текстКоманди}");
                }
            }
        }

        return string.Join(Environment.NewLine, лінії);
    }
}
